.newVideos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 20%;
}

.newVideos .title {
    font-family: Roboto, sans-serif;
    font-size: 60px;
    color: #F5F5F5;
    text-align: center;
}

.newVideos .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
}

.newVideos button {
    padding: 10px 30px;
}

.newVideos .firstButtons {
    display: flex;
    gap: 15px;
}

.newVideos a {
    text-decoration: none;
    color: #F5F5F5;

}

.newVideos input[type="color"] {

    cursor: pointer;
    height: 50px;
    padding: 18px 9px 0 9px;

}

::-webkit-color-swatch {
    border: 0;
    border-radius: 4px;
    height: 22px;
}

.button {
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .newVideos {
        padding: 30px 5%;
    }

    .newVideos .buttons {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}