.modal {
    width: 60%;
    height: 800px;
    background-color: #000000d3;
    border: '2px solid #000';
    display: "flex";
    flex-direction: "column";
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.close:hover {
    font-weight: 700;
    color: red;
}

.modal::-webkit-scrollbar {
    width: 9px;

}

.modal::-webkit-scrollbar-thumb {
    background: rgb(31, 71, 124);
    border: 3px solid rgba(7, 180, 233, 0.11);
    border-radius: 20px;

}

.modal::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.modalVideo {
    width: 80%;
    height: 30vw;
    min-height: 200px;
    max-height: 530px;
    border: 0;
}

.title,
.description {
    color: #fff;
    text-align: left;
    width: 50%;
    min-width: 100px;
    padding: 10px;
    font-family: Roboto, sans-serif;
}

@media screen and (max-width: 700px) {
    .modal {
        width: 100%;
    }

    .modalVideo {
        width: 100%;
    }
}