.carrousel {
    margin-top: -8vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

.carrousel__slide {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.carrousel__info {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    margin-left: 40px;


}

.carrousel__info h2 {
    background: #69953B;
    border-radius: 4px;
    padding: 5px;
    font-size: clamp(20px, 2vw, 35px);
    font-weight: 400;
}

.carrousel__info span {
    font-weight: 300;
    font-size: clamp(12px, 1vw, 18px);
}

.carrousel__cards {
    display: flex;
    scroll-behavior: smooth;
    transition: all 2s;
    padding: 0 40px;
    width: max-content;
}

.video {
    margin: 0 11px;
    height: 14vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    max-width: 420px;
}

.slide {
    min-width: 200px;
    width: 100%;
    height: 130%;
}

.left,
.right {
    position: absolute;
    height: 14vw;
    bottom: 0;
    font-size: 300%;
    border: none;
    cursor: pointer;
    z-index: 1;
    min-height: 170px;

}

.left {
    left: 0;
}

.right {
    right: 0;
}