header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 40px;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
}

.logo {
    max-width: 168.45px;
    width: 100%;
}



.music {
    width: 5%;
    min-width: 30px;
    margin-left: 5px;
}


@media screen and (max-width:800px) {
    header {
        padding: 10px 40px;
    }

    .logo {
        width: 100px;
    }


}