header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 40px;
    width: 100%;

}

.logo {
    max-width: 168.45px;
    width: 40vw;
}



.music {
    width: 5%;
    min-width: 50px;
    margin-left: 5px;
}

.hidden {
    display: none;
}


@media screen and (max-width:800px) {
    header {
        text-align: center;
    }

    header .newVideoButton {
        display: none;
    }

}