header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    padding: 27px 40px;
    height: 94px;
}

header img {
    max-width: 168.45px;
    width: 30%;
}